/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
	--color1: #EDE6DB;
	--color-light: #6df7a2;
	--color2: #417D7A;
	--color3: #1D5C63;
	--color4: #1A3C40;
	--color5: #112031;
	--color6: #393E46;
	--color7: #222831;

	--primary: #4ade80;
	--primary-alt: #22c55e;
	--grey: #64748b;
	--dark: #1e293b;
	--dark-alt: #334155;
	--light: #f1f5f9;

	--bg-color: #edf0ee;
	--sidebar-bg: #111827;
	--sidebar-bg-item-hover: #393E46;
	--sidebar-color-item-hover:var(--color-light);
	--sidebar-item-active: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

#app {
	/* font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

.wrapper {
	display: flex;
	height: 100%;
}

.content {
	display: flex;
	background-color: var(--bg-color);
	min-height: 100%;
	flex-grow: 1;
	flex-basis: 88%;
	padding: 1em;
	transform: translate3d(0,0,0);
	transition: transform .3s;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	width: 100%;
}

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

.col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	gap: .8em;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.chart{
	margin: auto;
	margin-top: 1rem;
	width: 95%;
	background-color: #fff;
	border-radius: 5px;
}

.card{
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
	background-color: #fff;
  color: #252422;
  position: relative;
  z-index: 1;
}

.card-header {
	background-color: var(--sidebar-bg);
	border-radius: 6px 6px 0 0;
	padding: .5em 0;
	color: #fff;
	text-align: center;
}

.card-header-light {
  background-color: white;
	border-radius: 6px 6px 0 0;
	padding: .5em 0;
	color:  var(--sidebar-bg);
	text-align: center;
}

.title {
	font-size: 28px;
}

.card-body {
	border: 2px solid transparent;
	/* border-radius: 8px; */
}
.card-footer {
	color: #7A7275;
  /* font-weight: lighter; */
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .content{
  padding: 15px 15px 0 15px;
}


.card .card-footer .icon{
  font-size: 20px;
}

.card .dataitem {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
}
.card .datafield{
  font-size: 60px;
}

.card .dataicon.fa{
  color: #607288;
}

.card .dataicon{
  font-size: 50px;
  margin-right: 10px;
  margin-top: 20px;
}