<template>
	<div class="card">
		<div class="card-body lastdata">
			<div class="content">
				<span class="row">
					<img v-bind:src="'http://openweathermap.org/img/wn/' + icon + '@2x.png'" 
					v-bind:alt="desc">
				</span>
				<!-- <span class="row">{{main}}</span> -->
				<span class="row">{{Math.round(temp)}} °C</span>
				<!-- <span class="row">Min: {{temp_min}}</span>
				<span class="row">Max: {{temp_max}}</span> -->
			</div>
		</div>
		<div class="card-footer">
			<span>{{time}}</span>
		</div>
	</div>
</template>

<script>

	export default {
		name: 'CardForecast',
		props: {
			// class: { type: String, required: true },
			// header: { type: String, required: true },
			time: { type: String, required: true },
			temp: { type: Number, required: true },
			// feels_like: { type: Number, required: true },
			// temp_min: { type: Number, required: true },
			// temp_max: { type: Number, required: true },
			// pressure: { type: Number, required: true },
			// sea_level: { type: Number, required: true },
			// grnd_level: { type: Number, required: true },
			id: { type: Number, required: true },
			main: { type: String, required: true },
			desc: { type: String, required: true },
			icon: { type: String, required: true },
			speed: { type: Number, required: true },
			deg: { type: Number, required: true },
			gust: { type: Number, required: true }
		},
		data () {
			return {
				// unit: null,
				// update_time: null
			}
		}
	}
</script>

<style scoped>
	.card{
		margin-top: 10px;
		max-width: 135px;
		border: 1px solid rgb(204 197 185 / 50%);
	}
	.card .card-header{
		padding: 0.5em 0;
		border-radius: 3px 3px 0 0;
		color: white;
		background-color: var(--grey);
	}
	.card .content{
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
	}
	.card .icon{
		font-size: 2em;
	}

	.temperature .icon {
		color: red;
	}
	.humidity .icon {
		color: blue;
	}
	.pressure .icon {
		color: orange;
	}
</style>