<template>
	<div class="col">
		<div class="card" v-bind:class="class">
			<div class="card-header">
				<span>{{header}}</span>
			</div>
			<div class="card-body lastdata">
				<div class="content text-center">
					<span class="material-symbols-rounded icon">{{icon}}</span>
					<span class="datafield">{{ Math.round(field) }}</span>
					<span class="unit">{{ unit }}</span>
				</div>
				<!-- <hr> -->
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</template>

<script>
	import functions from '../lib/Functions'
	export default {
		name: 'CardVue',
		props: {
			class: { type: String, required: true },
			header: { type: String, required: true },
			icon: { type: String, required: true },
			field: { type: Number, required: true },
			unit: { type: String, required: true },
			update_time: { type: String, required: true }
		},
		data () {
			return {
				// field: null,
				// unit: null,
				// update_time: null
			}
		}
	}
</script>

<style scoped>
	.card{
		margin-top: 10px;
		min-width: 236px;
		border: 1px solid rgb(204 197 185 / 50%);
	}
	.card .card-header{
		padding: .8em 0;
		border-radius: 3px 3px 0 0;
		color: white;
		background-color: var(--sidebar-bg);
	}
	.card .content{
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.card .icon{
		font-size: 2em;
	}

	.temperature .icon {
		color: red;
	}
	.humidity .icon {
		color: blue;
	}
	.pressure .icon {
		color: orange;
	}
</style>