<template>
	<div class="container">
		<div class="card dimension">
			<div class="card-header">
				<span class="title">{{computedDimension}} Chart</span>
			</div>
			<div class="card-body ">
				<div class="chart">
					<LineChart v-if="loaded" :key="componentKey"
						:label="computedDimension + ' (' + unit + ')'" 
						:chartData="chartData" 
						:chartLabels="chartLabels"
						:chartOptions="options"
						:background-color="backgroundColor"
						:point-border-color="pointBorderColor"
						:border-color="borderColor"
						:items="items"
					/>
				</div>
				<div class="date-selector row">
					<input type="date" name="start_date" id="start_date" v-model="start_date"> <span>  to  </span>
					<input type="date" name="end_date" id="end_date" v-model="end_date">
					<button v-on:click="clickOn"> Submit </button>
				</div>
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>
</template>

<script>
	import moment from 'moment'
	import LineChart from '../components/charts/Line.vue'
	import API from '../lib/API'
	import functions from '../lib/Functions'
	import { createToast } from 'mosha-vue-toastify'

	export default {
		components: { LineChart },
		props:{
			unit: {type: String, required: true},
			bgcolor: {type: String, required: true},
			bcolor: {type: String, required: true},
			pbcolor: {type: String, required: true},
			station_id: {type: String, required: true},
			dimension: {type: String, required: true}
		},
		data () {
			return {
				chartData: null,
				chartLabels: null,
				label: null,
				options: null,
				backgroundColor: this.$props.bgcolor,
				borderColor: this.$props.bcolor,
				pointBorderColor: this.$props.bgcolor,
				loaded: false,
				interval: null,
				items: null,
				componentKey: 0,
				time: 600000,
				start_date: "",
				end_date: "",
			}
		},
		created () {
			this.getData()
		},
		mounted () {
			this.interval = setInterval(function () {
				this.getData()
			}.bind(this), this.time)
		},
		unmounted() {
			clearInterval(this.interval)
		},
		destroyed() {
			clearInterval(this.interval)
		},
		computed: {
			computedDimension() {
				return this.$props.dimension[0].toUpperCase() + this.$props.dimension.slice(1)
			}
		},
		watch: {
			items: function() {
				this.forceRenderer()
			},
		},
		methods: {
			getData: async function(){
				try {
					let response = await API.getReadingData(this.$props.station_id, this.$props.dimension)
					this.loadData(response)
				} catch (err) {
					this.showError(err.response.status, err.response.data.message)
				}
			},
			loadData: function (response){
				this.loaded = true
				this.items = response.data
				this.chartData = this.items.map(data => data[this.$props.dimension])
				this.chartLabels = this.items.map(item => moment(item.datetime).format("DD/MM/YY HH:mm"))
				let animation = {}
				if (this.componentKey != 0 ){
					animation = {
						duration: 0
					}
				}
				this.options = {
					responsive: true,
					maintainAspectRatio: false,
					animation,
					tension: 0.3,
					scales: {
						x: {
							ticks: {
								major: {
									enabled: true
								}
							},
							grid: {
								borderColor: this.$props.bcolor,
								tickColor: 'grey',
							},
							offset: true
						},
						y: {
							type: 'linear',
							grid: {
								borderColor: this.$props.bcolor,
								tickColor: this.$props.bcolor
							},
							suggestedMin: this.getMin(),
							suggestedMax: this.getMax(response)
						},
					},
				}
			},
			forceRenderer() {
				this.componentKey+= 1
			},
			clickOn: async function (){
				if (new Date(this.end_date) >= new Date(this.start_date)){
					clearInterval(this.interval)
					this.componentKey = 0
					let response = await API.getReadingsDimensionByDates(this.$props.station_id, this.$props.dimension , this.start_date, this.end_date)
					this.loadData(response)
				} else {
					createToast('The end date has to be equal or greater than the start date.', {
						type: 'danger',
						transition: 'zoom',
						position: 'top-right',
						timeout: 4000,
						showIcon: true
					})
				}
			},
			getMin: function(){
				if (this.$props.dimension == 'pressure'){
					return 1000
				} else {
					return 0
				}
			},
			getMax: function(response) {
				if (this.$props.dimension == 'temperature'){
					return (functions.getMaxTemp(response.data, this.dimension) + 5)
				} else if (this.$props.dimension == 'humidity'){
					return 100
				} else if (this.$props.dimension == 'pressure'){
					return 1090
				}
			},
			showError: function (status, msg) {
				createToast( status + ': ' + msg, {
					type: 'danger',
					transition: 'zoom',
					position: 'top-right',
					timeout: 10000,
					showIcon: true
				})
			},
			convertDate: functions.convertDate
		}
	}
</script>

<style scoped>
	.dimension{
		width: 100%;
		/* padding: 1em 4em; */
	}

	.date-selector {
		margin-top: 2em;
	}

	button {
		padding: 10px;
		border-radius: 4px;
		border: 2px solid #0976b4;
		background-color: #0976b4;
		color: white;
	}
</style>