<template>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<span>User Info</span>
			</div>
			<div class="card-body">
				<p>In new versions here you can modify your info.</p>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "UserInfo"
	}
</script>

<style>

</style>